<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.argon.foto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application>
        <activity
            android:name=".cover.CoverActivity"
            android:label="@string/title_activity_cover"
            android:theme="@style/CoverTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:name=".ui.PhotographerHomePage"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
